<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css"> 
    <meta charset="UTF-8" />
    <title>Banco</title>
    <script src="https://kit.fontawesome.com/cc1360aee1.js" crossorigin="anonymous"></script></head>
<body>
    <div class="container">
        <div class="row">
            <!-- Seccion 1-->
            <div class="col-sm-12 col-xs-12 " >
                <h1 style="font-size:300%;">Historial de Movimientos</h1>
                <div style="border: 2px solid black; margin: 20px;">
                    
                        <input type="submit" value="mes" id="form_button" style="margin: 20px; margin-left: 50px;" />
                    
                        <input type="submit" value="depositos" id="form_button" style="margin-left: 50px;" />
                    
                    
                        <input type="submit" value="Transacciones" id="form_button" style="margin-left: 50px;" />
                    
                    
                        <input type="submit" value="retiros" id="form_button" style="margin-left: 50px;" />
                    
                        <input type="submit" value="otros" id="form_button" style="margin: 20px; margin-left:50px ;" />


                    <input type="text" id="fname" name="fname"><br>

                    <i class="fa-solid fa-check" style="margin-left: 15px;"></i>
                    <label for="" style="margin-right: 175px; margin-left: 10px;">Cuenta</label>
                    <label for="" style="margin-right: 175px;">Concepto</label>
                    <label for="fname">Monto $</label><br>
                    <label for="" style="margin-left: 30px;">xxxxxxx xxxxxxx xxxxxxx</label>
                    <label for="" style="margin-left: 75px;">xxxxxxxxxxxxxxxxx</label>
                    <label for="" style="margin-left: 90px;">0000000000000</label>

                    <input type="text" id="lname" name="lname"><br>

                    <i class="fa-solid fa-check" style="margin-left: 15px;"></i>
                    <label for="" style="margin-right: 175px; margin-left: 10px;">Cuenta</label>
                    <label for="" style="margin-right: 175px;">Concepto</label>
                    <label for="fname">Monto $</label><br>
                    <label for="" style="margin-left: 30px;">xxxxxxx xxxxxxx xxxxxxx</label>
                    <label for="" style="margin-left: 75px;">xxxxxxxxxxxxxxxxx</label>
                    <label for="" style="margin-left: 90px;">0000000000000</label>

                    <input type="text" id="lname" name="lname"><br>

                    <i class="fa-solid fa-check" style="margin-left: 15px;"></i>
                    <label for="" style="margin-right: 175px; margin-left: 10px;">Cuenta</label>
                    <label for="" style="margin-right: 175px;">Concepto</label>
                    <label for="fname">Monto $</label><br>
                    <label for="" style="margin-left: 30px;">xxxxxxx xxxxxxx xxxxxxx</label>
                    <label for="" style="margin-left: 75px;">xxxxxxxxxxxxxxxxx</label>
                    <label for="" style="margin-left: 90px;">0000000000000</label>

                    <input type="text" id="lname" name="lname"><br>

                    <i class="fa-solid fa-check" style="margin-left: 15px;"></i>
                    <label for="" style="margin-right: 175px; margin-left: 10px;">Cuenta</label>
                    <label for="" style="margin-right: 175px;">Concepto</label>
                    <label for="fname">Monto $</label><br>
                    <label for="" style="margin-left: 30px;">xxxxxxx xxxxxxx xxxxxxx</label>
                    <label for="" style="margin-left: 75px;">xxxxxxxxxxxxxxxxx</label>
                    <label for="" style="margin-left: 90px; margin-bottom: 20px;">0000000000000</label>

                </div>
            </div>
            <!-- Seccion 2, en blanco (divisora) 
            <div class="col-sm-2 col-xs-2" >
                
            </div>-->
            <!-- Seccion 3 
            <div class="col-sm-4 col-xs-4">
                <i style="font-size:300%; float:right;" class="fa-solid fa-landmark"></i><br><br>
                <form action="">
                    <label for="fname">Monto</label><br>
                    <input type="number" id="quantity" name="quantity" min="0.00" max="10,289"><br>
                    <label for="lname">Concepto</label><br>
                    <input type="text" id="lname" name="lname"><br>
                    <label for="lname">Fecha de ejecucion</label><br>
                    <input type="datetime-local" id="birthdaytime" name="birthdaytime"><br>
                </form> -->
                <!-- Desde y Saldos 
                <div class="container" style="border: 2px solid black; margin: 20px;">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <label for="">Desde</label><br>
                            <label for="">00000000000000</label>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <label for="" style="float:right">Saldo</label><br>
                            <label for="" style="float:right">$000000</label>
                        </div>
                    </div>                    
                </div>
                 Botones 
                <div class="container"> 
                    <div class="row">
                        <div class="col-sm-6 col-xl-6"  style="float: left;">

                            <div class="submit">
                                <input type="submit" value="Cancelar" id="form_button" />
                            </div>
                        
                        </div>
                        <div class="col-sm-6 col-xl-6"  style="float: right;">

                            <div class="submit">
                                <input type="submit" value="Transferir" id="form_button" />
                            </div>

                        </div>
                    </div>    
                </div> -->
            </div>
        </div>
    </div>
    
</body>
</html>